.header {
    padding: 30px 20px 0 0;
    position: fixed;
    top: 0;
    display: grid;  
    grid-gap:5px;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: 
     "nt mn mn sb . . . "; 
    background-color: var(--primary);
    width: 100%;
    margin-bottom: 0px;  
    z-index: 100;
  }
  
  .netflixLogo {
    grid-area: nt;
    object-fit: cover;
    width: 100px;
    max-height: 100%;
    
    padding-left: 30px;
    padding-top: 0px;  
  }
  
  .netflixLogo img {  
    height: 35px;     
  }
  
  #logo {
    color: #E50914;  
    margin: 0; 
    padding: 0; 
  }
  
  
  .main-nav {
    grid-area: mn;
    padding: 10px 35px 0 19px;
  }
  
  .main-nav  i{
    color: var(--light);
    text-decoration: none;
    margin: 10px;  
  }
  
  .main-nav i:hover {
    color: var(--dark);
  }
  
  .sub-nav {
    grid-area: sb;
    padding: 0 60px 0 40px;
  }
  
  .sub-nav i {
    color: var(--light);
    text-decoration: none;
    margin: 5px;
  }
  
  .sub-nav i:hover {
    color: var(--dark);
  }
  
  