
.link {
    padding: 50px;
  }
  
  .sub-links ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
  }
  
  .sub-links li {
    color: var(--dark);
    text-decoration: none;
  }
  
  .sub-links li:hover {
    color: var(--dark);
    text-decoration: underline;
  }
  
  .logos i{
    padding: 10px;
  }
  
  .logos {
    text-align: center;
    color: var(--dark);
  }
  
  
  /* FOOTER */
  footer {
    padding: 20px;
    text-align: center;
    color: var(--dark);
    margin: 10px;
  }
  
  
  @media(max-width: 700px) {
    .sub-links ul {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media(max-width: 500px) {
    .logos {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
      }
    
      .sub-links ul {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
        font-size: 15px;
      }
}